.App {
  text-align: center;
  margin-top: 0;
  background-color: #eee;
}
.pageWrapper {
  min-height: 100vh;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.filter {
  width: 20%;
  padding: 0;
}
.goods {
  display: flex;
  flex-direction: column;
  width: 80%;
}



